# Virtual environment
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
htmlcov/

# Database
*.sqlite3
db.sqlite3

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Media & Static uploaded files
media/
staticfiles/

# OS / Editor files
.DS_Store
.vscode/
.idea/
